@tailwind base;

body {
  @apply bg-gray-100 antialiased text-gray-900 font-mono;
}

a {
  @apply text-blue-600 transition duration-150;
}
a:hover {
  @apply text-blue-800;
}

ul,ol {
  @apply list-outside ml-4;
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

button {
  @apply bg-gray-700 p-1 rounded text-gray-100 transition duration-150 shadow-xl;
}

button:focus {
  @apply outline-none;
}

button:hover {
  @apply bg-gray-100 text-gray-900;
}

@tailwind components;

@tailwind utilities;

